%h1 SolarMontage – Installation einer Solaranlage

.grid_6.alpha

  %p Wir bauen Ihre Solaranlage und übergeben sie Ihnen komplett 'schlüsselfertig' installiert und angeschlossen.
  
  %p Die Zeen Solar GmbH bietet eine professionelle und qualitativ hochwertige Montage von Solaranlagen / Photovoltaikanlagen an. Egal ob auf Flächen, an Fassaden oder auf Dächern. Zuverlässigkeit und hohes fachliches sowie handwerkliches Können sind die Grundlagen unseres Erfolgs.

  %p Wir haben für jeden Anspruch und für jedes Dach die passenden Solar / PV Module und verbauen ausschließlich DIN zertifizierte Komponenten.

  %p Die fachgerechte Montage der Komponenten erfolgt durch unsere erfahrenen Bauingenieure und qualifizierte Montageteams. Durch kontinuierliche Weiterbildungen unserer Mitarbeiter stellen wir sicher, dass Ihre Wünsche und Vorstellungen stets fachgerecht erfüllt werden.

  %p Senden Sie uns eine Anfrage zum Thema SolarMontage und unsere Mitarbeiter werden sich mit Ihnen in Verbindung setzen, die Kosten kalkulieren und Ihnen Ihr persönliches Angebot zusenden.

  %a{:href => "/kontakt/", :class => "button"}Jetzt Anfrage stellen

.grid_4.omega

  %img{:alt => "Solaranlage Montage", :title => "Solaranlage Montage", :src => "/assets/images/solarmontage2.jpg", :class => 'right_picture', :width => "290", :height => "335"}
